/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* target all element */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


/* crazy class */
.container {
    width: 82%;
    max-width: 1440px;
    margin: 0 auto;
}

.red {
    color: #F00;
}

.text-center {
    text-align: center;
}



/* header*/
.header-section {
    max-height: 600px;
    padding: 200px 0px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../assets/Banner-Image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.header-section:hover {
    background-blend-mode: luminosity;
}

.header-section * {
    margin-bottom: 16px;
}

.header-section h3 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}

.header-section h2 {
    max-width: 600px;
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* category section */
.category-section {
    margin-top: 100px;
}

.category-section h1 {
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 22px;
}

.category-section p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.category-section h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
}

.category-section img {
    max-width: 500px;
}


/* welcome section */
.welcome-section {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../assets/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    padding: 126px;
    margin-top: 130px;
}

.welcome-section h1 {
    max-width: 642px;
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.welcome-section p {
    max-width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.welcome-section button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 5px;
}


/* joining section */
.joining-section {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 8px;
    padding: 100px 0;
    margin-top: 120px;
}

.joining-section h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.joining-section button {
    padding: 16px 32px;
    border: none;
    margin-top: 50px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.1s;
    cursor: pointer;
}

.joining-section button:hover {
    background: rgb(137, 6, 6);
}


/* coming section */

.coming-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px 0;
}

.coming-section .offer-section {
    max-width: 430px;
    padding-right: 10px;
}

.coming-section .offer-section h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.coming-section .offer-section h3 {
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.coming-section .offer-section p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.coming-section .img-section{
    
}